.card {
    height: 400px; !important;/* Your height here */
    overflow: hidden; !important;
}

.card-image {
    height: 250px; !important;/* Your height here */
    overflow: hidden; !important;
}

